* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/* body {
  justify-content: center;
  align-items: center;
  background-image: url(https://info.ehl.edu/hubfs/Blog-EHL-Insights/Blog-Header-EHL-Insights/beelong.jpg);
}  */
.login-container {
  background: #ffffff4d;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(113, 112, 112, 0.1);
  width: 100%;
  max-width: 600px;
}
nav{
  overflow: hidden;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #fffefe;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #ffffffff;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.1);
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #e438a8;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background: #3d75df;
}


header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 1rem 2rem;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.logo img {
  width: 150px;
}

.hero {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 150px 20px;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
ul li a{
  color: black;
}